<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.6.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.6.0">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>This pipeline will build the coolapp. The final result should be a new image in the Registry (if a build was warranted).</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_REGISTRY_HOST</name>
          <description></description>
          <defaultValue>192.168.0.160</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_REGISTRY_PORT</name>
          <description></description>
          <defaultValue>5000</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKERFILE_BASE_REGISTRY_FILE</name>
          <description></description>
          <defaultValue>/tmp/docker_base_registry_entry</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKERFILE_BASE_CHECKSUM_FILE</name>
          <description></description>
          <defaultValue>docker_base_checksum</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>COVERAGE_MINIMUM</name>
          <description></description>
          <defaultValue>65</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>COVERAGE_TEST_DB_HOST</name>
          <description></description>
          <defaultValue>jenkins-coolapp-db</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>COVERAGE_TEST_DB_PORT</name>
          <description></description>
          <defaultValue>5432</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>COVERAGE_TEST_DB_USER</name>
          <description></description>
          <defaultValue>postgres</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>COVERAGE_TEST_DB_PASS</name>
          <description></description>
          <defaultValue>mysecretpassword</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>COVERAGE_TEST_DB_NAME</name>
          <description></description>
          <defaultValue>coolapp</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>COVERAGE_CHECK_FILE</name>
          <description></description>
          <defaultValue>/tmp/coverage_passed</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SRC_EXPECTED_FILE</name>
          <description></description>
          <defaultValue>dist/cool_app-0.0.3.tar.gz</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SRC_OLD_CHECKSUM_FILE</name>
          <description></description>
          <defaultValue>checksum_dist</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SRC_BUILD_FLAG_FILE</name>
          <description></description>
          <defaultValue>/tmp/coolapp-src-build</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_COOAPP_BASE_CHANGED_FILE</name>
          <description></description>
          <defaultValue>/tmp/coolapp-base-docker-image-build</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LATEST_APP_IMAGE_URL_FILE</name>
          <description></description>
          <defaultValue>/tmp/docker_app_registry_entry</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>pipeline {
   agent any

   stages {
      stage(&apos;CompleteBuild&apos;) {
         steps {
            build &apos;coolapp-base-docker-image-build&apos;
            build &apos;coolapp-coverage&apos;
            build &apos;coolapp-src-build&apos;
            build &apos;coolapp-service-image-build&apos;
         }
      }
   }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>